.dokumenty {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.dokumenty__header {
  padding: 2rem 2rem 0 2rem;
  font-weight: 700;
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dokumenty__header a {
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  background-color: #03c3ab;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.dokumenty__form {
  padding: 2rem;
}

.dokumenty__form form {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
}

.dokumenty__form input,
.dokumenty__form label {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.dokumenty__label {
  background-color: #f1f2f6;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1.4rem;
}

.dokumenty__form select {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.dokumenty__button {
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  font-size: 1rem;
  background-color: #03c3ab;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
