.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2rem;
}

.home__header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.home__header span {
  font-size: 2rem;
  font-weight: 700;
}

.home__header img {
  height: 4rem;
}

