.pracownicy {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pracownicy__header {
  padding: 2rem 2rem 0 2rem;
  font-weight: 700;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pracownicy__header a {
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  background-color: #03c3ab;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.pracownicy__list {
  width: calc(100vw - 330px);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border: 4px solid #f1f2f6;
  border-radius: 16px;
  overflow-x: auto;
  text-align: left;
}

.pracownicy__list table {
  table-layout: auto;
}

.pracownicy__list td,
.pracownicy__list th {
  border-collapse: collapse;
  border-right: 2px solid #f1f2f6;
  border-bottom: 2px solid #f1f2f6;
  padding: 2px 8px;
}

.pracownicy__list td:last-child,
.pracownicy__list th:last-child {
  border-right: none;
}

.pracownicy__list tr:last-child td {
  border-bottom: none;
}

.pracownicy__list a {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.pracownicy__list__headers {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.pracownicy__list__headers div {
  padding: 0.2rem 0 0.2rem 1rem;
  border-right: 2px solid #f1f2f6;
  border-bottom: 2px solid #f1f2f6;
  /* width: 100%; */
}

.pracownicy__list__content {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.pracownicy__list__content div {
  padding: 0.2rem 0 0.2rem 1rem;
  border-right: 2px solid #f1f2f6;
  border-bottom: 2px solid #f1f2f6;
}

.pracownicy__list__content a {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.pracownicy__buttons {
  margin-top: -1rem;
  padding-bottom: 1rem;
}

.pracownicy__buttons button {
  background: none;
  border: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  width: 2rem;
}
